<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test Login Page Validation">
		<classes>
			<class
				name="com.AlliedInsulation.testCases.LoginTestValidation"></class>
		</classes>
	</test>

	<test name="Test Dashboard Page Validation">
		<classes>
			<class
				name="com.AlliedInsulation.testCases.DashboardTestValidation"></class>
		</classes>
	</test>
</suite> <!-- Suite -->
